Backups/
databases/
Local Storage/
Service/
logs/
CachedExtensionVSIXs/
WebStorage/
User/workspaceStorage/
User/History/
User/globalStorage/
User/profiles/*/globalStorage
Cache/
GPUCache/
CachedProfilesData/
DawnCache/
Crashpad/
CachedData/
Service Worker/
CachedConfigurations/
Code Cache/
Network Persistent State
Session Storage
Shared Dictionary
TransportSecurity
code.lock


